html {
  font-family: 'Coda', cursive;
  font-family: 'Unica One', cursive;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header {
  background-color: #369CA0;
  color: #E8DC1C;
}

.nav, .list-group, p, blockquote {
  font-family: 'Coda', cursive;
  font-style: normal;
  font-weight: 400;
}

.btn {
  background-color: #EFDE17;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #EFDE17;
}

.white {
  color: #fff;
}

a {
  text-decoration: none;
}

footer {
  background-color: #369CA0;
  color: #E8DC1C;
}

.img {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
