html {
  font-family: Coda, cursive;
  font-family: "Unica One", cursive;
  font-family: "Droid Sans", sans-serif;
  font-family: "Dancing Script", cursive;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.text {
  font-family: "Droid Sans", sans-serif;
}

header {
  background-color: #fff;
  color: #e8dc1c;
}

h1 {
  color: #369ca0;
  font-family: "Unica One", cursive;
  font-size: 5rem;
}

.nav, .list-group, p, blockquote {
  font-family: Coda, cursive;
  font-style: normal;
  font-weight: 400;
}

.main {
  height: 55vh;
}

.homepage {
  background-image: url("../images/typewriter-01.jpg");
  background-size: contain;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: right center;
}

.btn {
  background-color: #f7e96b;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #f7e96b;
}

.blue {
  color: #369ca0;
}

.beige {
  background-color: #e0dcdc;
}

a {
  text-decoration: none;
}

footer {
  background-color: #f7e96b;
  color: #6c6c6d;
}

.y {
  color: #f7e96b;
}

.white {
  background-color: #fff;
}

.ds {
  font-family: "Dancing Script", cursive;
}

.droid {
  font-family: "Droid Sans", sans-serif;
}

.coda {
  font-family: Coda, cursive;
}

.border-b {
  border: 0;
}

legend {
  color: #369ca0;
  font-family: Coda, cursive;
}

label {
  font-family: "Droid Sans", sans-serif;
}

fieldset {
  border: 0;
}

.w-3-4 {
  width: 75%;
}

form {
  background-image: url("../images/book-pen-edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dashed {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #000;
}

@media only screen and (min-width: 20em) {

  .pin-bc {
    bottom: 0;
    left: 20%;
    transform: translateX(-15%);
  }

  .pin-c {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

}

@media only screen and (min-width: 30em) {

  .pin-bc {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media only screen and (min-width: 38em) {

  .pin-bc {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media only screen and (min-width: 60em) {

  .pin-bc {
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
  }

}
