html {
  font-family: 'Coda', cursive;
  font-family: "Unica One", cursive;
  font-family: "Droid Sans", sans-serif;
  font-family: "Dancing Script", cursive;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.text {
  font-family: "Droid Sans", sans-serif;
}

header {
  background-color: #fff;
  color: #E8DC1C;
}

h1 {
  color: #369CA0;
  font-family: "Unica One", cursive;
  font-size: 5rem;
}

.nav, .list-group, p, blockquote {
  font-family: 'Coda', cursive;
  font-style: normal;
  font-weight: 400;
}

.main {
  height: 55vh;
}

.homepage {
  background-image: url("../images/typewriter-01.jpg");
  background-size: contain;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: right center;
}

.btn {
  background-color: #F7E96B;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #F7E96B;
}

.blue {
  color: #369CA0;
}

.beige {
  background-color: #E0DCDC;
}

a {
  text-decoration: none;
}

footer {
  background-color: #F7E96B;
  color: #6C6C6D;
}

.y {
  color: #F7E96B;
}

.white {
  background-color: #fff;
}

.ds {
  font-family: "Dancing Script", cursive;
}
legend {
  color: #369CA0;
  font-family: 'Coda', cursive;
}

label {
  font-family: "Droid Sans", sans-serif;
}

fieldset {
  border: 0;
}

.w-3-4 {
  width: 75%;
}

form {
  background-image: url("../images/book-pen-edited.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 20em) {

.pin-bc {
  bottom: 0;
  left: 20%;
  transform: translateX(-15%);
}

.pin-c {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

}

@media only screen and (min-width: 30em) {

.pin-bc {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

}

@media only screen and (min-width: 38em) {

.pin-bc {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

}

@media only screen and (min-width: 60em) {

.pin-bc {
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
}

}
